/* Merriweather reg, italic, bold */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: local("Merriweather Italic"), local("Merriweather-Italic"), url(https://fonts.gstatic.com/s/merriweather/v19/So5lHxHT37p2SS4-t60SlLbeiSZn9gAT0uu8FgUa5kU.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: local("Merriweather Italic"), local("Merriweather-Italic"), url(https://fonts.gstatic.com/s/merriweather/v19/So5lHxHT37p2SS4-t60SlGfrnYWAzH6tTbHZfcsRIsM.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215; }

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local("Merriweather Regular"), local("Merriweather-Regular"), url(https://fonts.gstatic.com/s/merriweather/v19/RFda8w1V0eDZheqfcyQ4EIjoYw3YTyktCCer_ilOlhE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local("Merriweather Regular"), local("Merriweather-Regular"), url(https://fonts.gstatic.com/s/merriweather/v19/RFda8w1V0eDZheqfcyQ4EBampu5_7CjHW5spxoeN3Vs.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215; }

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local("Merriweather Bold"), local("Merriweather-Bold"), url(https://fonts.gstatic.com/s/merriweather/v19/ZvcMqxEwPfh2qDWBPxn6nkqWMeizceScn2Xpn1ZpsKI.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local("Merriweather Bold"), local("Merriweather-Bold"), url(https://fonts.gstatic.com/s/merriweather/v19/ZvcMqxEwPfh2qDWBPxn6nshHwsiXhsDb0smKjAA7Bek.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215; }

/* Lato reg */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(https://fonts.gstatic.com/s/lato/v14/8qcEw_nrk_5HEcCpYdJu8BTbgVql8nDJpwnrE27mub0.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(https://fonts.gstatic.com/s/lato/v14/MDadn8DQ_3oT6kvnUq_2r_esZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather", serif;
  font-weight: 400;
  color: white;
  margin: 0; }

h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px;
  text-align: center; }

h2 {
  font-size: 42px;
  line-height: 1.14; }

h3 {
  font-size: 26px;
  line-height: 1.38;
  font-family: "Lato", sans-serif; }

h4 {
  font-size: 22px;
  line-height: 1.38; }

h5 {
  font-size: 12px; }

p {
  margin: 0;
  font-size: 16px;
  transition: font-size .2s ease; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

ul {
  font-family: "Lato", sans-serif; }

a {
  color: white;
  text-decoration: none;
  outline: 0;
  transition: font-size .2s ease; }

* {
  margin: 0;
  padding: 0; }

html,
body {
  min-height: 100vh;
  background-color: #ffffff; }

body {
  transition: font-size .2s ease;
  background: white;
  font-size: 14px;
  line-height: 1.6;
  font-family: 'Merriweather', sans-serif;
  color: #333333;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  height: 100vh; }

.content-wrap {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px; }

p {
  margin-bottom: 60px; }
  p:first-child {
    margin-top: 60px; }

.big-letter::first-letter {
  font-size: 72px;
  line-height: 100%; }

.body-divider {
  height: 3px;
  width: 100px;
  margin-bottom: 60px;
  background-color: #DBDBDB; }

@media (max-width: 440px) {
  p {
    font-size: 12px;
    margin-bottom: 40px; }
    p:first-child {
      margin-top: 40px; }
  .big-letter::first-letter {
    font-size: 60px; }
  .body-divider {
    margin-bottom: 40px; } }

footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  height: 200px;
  width: 100vw;
  font-family: "Lato", sans-serif;
  border-top: 1px solid #DBDBDB;
  transition: font-size .2s ease; }
  footer .side-note {
    text-align: center;
    max-width: 200px;
    margin: 0 20px; }
  footer .footer-nav {
    min-width: 250px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between; }

.footer-link {
  color: #808080;
  text-decoration: underline;
  transition: color .2s ease; }
  .footer-link:hover {
    color: #b3b3b3; }

.email-link {
  color: #333333;
  text-decoration: underline;
  transition: color .2s ease; }
  .email-link:hover {
    color: #DB5461; }

@media (max-width: 750px) {
  footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    footer .footer-nav {
      margin-left: 50%;
      margin-right: 50%;
      -ms-flex-order: 1;
          order: 1; } }

@media (max-width: 440px) {
  footer {
    font-size: 12px; } }

nav {
  position: absolute;
  bottom: 20px;
  left: 50%;
  padding: 0 20px;
  width: 280px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0); }
  nav ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-direction: row;
        flex-direction: row;
    font-size: 1.1em;
    opacity: 0.7;
    transition: opacity 300ms ease-in-out;
    list-style: none; }
    nav ul:hover {
      opacity: 1; }
    nav ul li {
      text-align: center; }
      nav ul li a {
        display: inline-block;
        position: relative;
        left: 0;
        right: 280px;
        width: 70px; }
    nav ul li:last-child a::after {
      content: "";
      position: absolute;
      bottom: -3px;
      right: inherit;
      background: white;
      opacity: 0;
      width: 70px;
      height: 3px;
      transition: right 500ms, opacity 300ms;
      pointer-events: none; }
    nav ul li:nth-child(1):hover ~ li:last-child a {
      right: 210px; }
      nav ul li:nth-child(1):hover ~ li:last-child a::after {
        opacity: 1; }
    nav ul li:nth-child(2):hover ~ li:last-child a {
      right: 140px; }
      nav ul li:nth-child(2):hover ~ li:last-child a::after {
        opacity: 1; }
    nav ul li:nth-child(3):hover ~ li:last-child a {
      right: 70px; }
      nav ul li:nth-child(3):hover ~ li:last-child a::after {
        opacity: 1; }
    nav ul li:last-child:hover a {
      right: 0px; }
      nav ul li:last-child:hover a::after {
        opacity: 1; }

header {
  background-image: url(../img/home-hero.jpeg);
  background-size: cover; }
  header .header-title {
    display: block;
    float: left;
    padding: 20px 30px;
    border: 3px solid white;
    margin: 0 100px; }

.see-music-btn {
  padding: 10px 20px;
  color: #808080;
  font-size: 18px;
  margin-bottom: 60px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: box-shadow .2s ease; }
  .see-music-btn:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22); }

@media (max-width: 440px) {
  .see-music-btn {
    font-size: 14px; } }
